<title>Reddit</title>
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div>
	<h1>Reddit</h1>
</div>
<div>
	<h2><a href="{{	url_for('submit_post')	}}">click here to submit new post</a></h2>
</div>

<div>
	<h2>List of posts:</h2>
	<h2>vote | title</h2>
</div>
{%for post in posts %}
<form method = "post">
	<h2>{{post[1]}} | {{post[0]}} </h2>
	<button type ="submit" name="upvote" value = {{post[0]}}>Upvote</button>
	<button type ="submit" name="downvote" value = {{post[0]}}>Downvote</button>
</form>
{% endfor %}